#primero{
  display: inline-block;
  background-color: yellow;
  font-family: 'Dosis', sans-serif;
  font-size: 20px;
  padding: 10px;
  }
#segundo{
  display: inline-block;
  background-color: red;
  font-family: 'Dosis', sans-serif;
  font-size: 20px;
  border: solid 1px black;
  padding: 10px;
  padding-right: 55px;
}
#tercero{
  display: inline-block;
  background-color: yellow;
  font-family: 'Dosis', sans-serif;
  font-size: 20px;
  padding: 10px;
}
