#primero{
  display: block;
  background-color: yellow;
  font-family: 'Dosis', sans-serif;
  font-size: 20px;
  height: 90px;
  width: 200px;
  border: 10px 10px 10px 10px;
}
#segundo{
  display: block;
  background-color: red;
  font-family: 'Dosis', sans-serif;
  font-size: 20px;
  height: 90px;
  border: solid 1px black;
  width: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
}
#tercero{
  display: block;
  background-color: yellow;
  font-family: 'Dosis', sans-serif;
  font-size: 20px;
  height: 90px;
  width: 200px;
  border: 10px 10px 10px 10px;
}
