#primero{
  display: inline-block;
  background-color: yellow;
  font-family: 'Dosis', sans-serif;
  font-size: 20px;
  height: 70px;
  width: 190px;
  padding-left: 10px;
  padding-top: 10px;
  margin-top: 20px  ;
  }
#segundo{
  display: inline-block;
  background-color: red;
  font-family: 'Dosis', sans-serif;
  font-size: 20px;
  height: 70px;
  width: 190px;
  padding-top: 10px;
  padding-left: 10px;
}
#tercero{
  display: inline-block;
  background-color: yellow;
  font-family: 'Dosis', sans-serif;
  font-size: 20px;
  padding-left: : 10px;
  height: 70px;
  width: 190px;
  padding-top: 10px;
  padding-left: 10px;
}
